.search-results {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .search-results__image {
    width: 80%;
    height: 200px;
    border: 3px solid grey;
    margin-top: 5px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .search-results__image {
      margin: 5px;
      height: 500px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .search-results__image {
      margin: 5px;
      height: 400px;
      width: 25%;
    }
    .search-results {
      margin-top: 50px;
    }
  }